  .h1{
   font-family: "HelveticaNeue-Light", Arial, sans-serif;
   font-size: 45px;
   color: white;
}
.h2{
   font-family: "HelveticaNeue-Light", Arial, sans-serif;
   font-size: 35px;
   color: white;
}
.h3{
   font-family: "HelveticaNeue-Light", Arial, sans-serif;
   font-size: 18px;
   color: white;
}
.move_menu {
  float: left; 
  margin-left: 2%;
}
.home_img {
	margin-top: 100px;
}
#login {
	position: fixed;
   /*top right bottom left*/
   padding: 10px 75px 10px 75px;
   
   /*top right bottom left*/
   margin: -60px 0px 0px 450px;
   color: #fff;
   background: #2ab573;
   border: none;
   font-family: "HelveticaNeue-Light", Arial, sans-serif;
   font-size: 28px;
   color: white;
   text-decoration: none;
}

.test {
	position: fixed;
   /*top right bottom left*/
   padding: 10px 75px 10px 75px;
   
   /*top right bottom left*/
   margin: -60px 0px 0px 450px;
   color: #fff;
   background: #2ab573;
   border: none;
   font-family: "HelveticaNeue-Light", Arial, sans-serif;
   font-size: 28px;
   color: white;
}


/*******************************************************************
*************** Login Like Explore section
*******************************************************************/
.body_content {
	margin-top: 390px;
	margin-left: 50px;
	width: 60%;
}
 .h1_body{
   font-size: 65px;
   color: #555555;
   display: inline-block;
}
 .h1_strong{
   font-size: 65px;
   color: #3b5999;
   display: inline-block;
}
 .h3_body{
   font-size: 35px;
   color: #555555;
   display: inline-block;
}
.like {
	float: right;
	margin-right: 10%;
	margin-top: -210px;
}


/*******************************************************************
*************** Login Like Explore section
*******************************************************************/
.selector_box {
	background:#FFFFFF;
	width:325px;
	height: 300px;
	/*top right bottom left*/
   padding: 30px 75px 10px 75px;
   margin-top:80px;
}
.h3_body1{
   font-size: 35px;
   color: #FFFFFF;
   display: inline-block;
   background-color:#3b5999;
   padding: 10px 100px 10px 100px;
   margin-left: -100px;
}
